.mixes {
	background-image: url("../images/shrubEBF.png");
	padding-top: -200px;
}


iframe.mixcloud-widget {
	float: center;
	text-align: center;
	top: 0;
	opacity: .75;
	display: block;
	margin: 0 auto;
	width: 800px;
	height: 500px;
	border-color: white;
	border-width: 10px;
	border-style: solid;
}
